#sliderContainer {
    transform: translateX(0rem) translateY(2rem);
    width: 80%;
    margin: 20px auto;
    
}

#yearDisplay {
    transform: translateX(8rem) translateY(2rem); /*平移*/
    font-size: 20px;
    margin-bottom: 10px;
}

#world
{
    width:75vw;
    height:75vh;
}

#slider
{
    width: 80%; 
    margin: 20px auto;
}