#sliderContainer {
    width: 80%;
    margin: 20px auto;
}

#yearDisplay {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#world
{
    width:80vw;
  height:80vh;
}

#slider
{
    width: 80%; 
    margin: 20px auto;
}